
#areaSelect, #locationSelect {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.areaSEL {
  float: left;
  font-family: Arial;
  font-weight: bold;
  display: block;
  background-color: #104070;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
.locSEL {
  float: left;
  font-family: Arial;
  font-weight: normal;
  display: block;
  background-color: #104070;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius:3px;
  text-decoration: none;
}
p {
    font-family: Arial;
    text-indent: 50px;
}
#ACC {
  background-color:#104070;
  color:white;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:3px;
}
.accContent {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#red_temp {
  color:red;
  font-weight:bold;
}
#blue_temp {
  color:blue;
  font-weight:bold;
}
#TopForecastTable td{
  vertical-align: top;
  text-align: center;
  font-family:arial;
  vertical-align: middle;
}
#TopForecastTable img {
  border-radius:3px;
}
#shortF {
  font-weight:normal;
  width: 110px;
}
#Temps {
  vertical-align: bottom;
}
.ui-dialog .ui-dialog-title {
  text-align: center;
  width: 100%;
}
#ACTIVE {
   padding-left: 20px;
   background-color:red;
   color:white;
   font-family:arial;
   border: 2px solid red;
   font-weight:bold;
}

/* Weather Camera Tab */
.WC_TOP {
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    font-weight:bold;
}
.WC_IMAGE img{
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    width:320px;
    height:240px;
}

.WC_BOTTOM {
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    padding-bottom:15px;
}

/* AVG PRoduct */
#avgDiscussionDisplay {
    width: 600px;
    min-height:100px;
    border:thin gray solid;
    padding:25px;
}
.preFormattedTextDisplayWrapper {
    width: 600px;
    min-height: 200px;
    border:thin gray solid;
    padding:25px;
}
.preFormattedTextDisplay {
    margin:0 auto;
    width: 100%;
    font-family:monospace;
    white-space: pre-wrap;
    font-size:14px;
}
#avgForecastSelector {
    font-family:arial;
    width:600px;
}
#Long {
   border-radius: 25px;
   border: 2px solid black;
}

#Long tr:nth-child(even) {
    background-color: lightgrey;
   font-family:arial;
}

#Day {
   vertical-align: middle;
   font-weight: bold;
   padding-right: 10px;
   padding-top:10px;
   padding-bottom:10px;
   text-align: right;
   width:10%;
}

#Detail {
   vertical-align: middle;
   font-weight: normal;
   padding-left: 20px;
   padding-top:10px;
   padding-bottom:10px;
   text-align: left;
   width:90%;
}











/* All Above Styles Are From Version 1 - When we verify they're still needed, move them below this line. */

.outline {
	border: thin gray solid;
	padding:10px;
	margin: 10px 20px 50px 20px;
}

#map { 
	width: 90%;
	height: 400px; 
}
